<style>
.margin-little {
    margin: 8px;
}
input {
    padding:2px;
}
</style>
<ons-page ng-controller="PlayerController" ng-init="init();blockbackbuton();">
    <ons-navigator-toolbar title="Players">
    </ons-navigator-toolbar>
    <ons-scroller>
        <div class="margin-little">
            <input type="search" ng-model="search" placeholder="keyword..." class="display-block search-input">
        </div>
        <div id="list" style="height:480px;" class="list" when-scrolled="pagination()">
            <ul class="list__container">
                <li ng-repeat="obj in objs|filter:search" class="list__item list__item--tappable list__item__line-height list-item-container" ng-click="select(obj.id)">
                    <div class="list-item-main">
                        <div class="list-item-left">
                            <img ng-src="{{obj.image}}" class="thumbnail">
                        </div>
                        <div class="list-item-right">
                            <div class="list-item-content">
                                <span class="list-item-name">{{obj.nickname}} &nbsp;
                                    <br/>
                                    <span class="lucent">
                                        <i class="fa fa-map-marker"></i>&nbsp; {{obj.nationality}}
                                    </span>
                                </span>
                                <br/>
                                <span class="list-item-text" style="margin-top:16px;">
                                    {{obj.age}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="list-item-action">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </li>
            </ul>
        </div>
    </ons-scroller>
</ons-page>
